.bar{
    height: 50px;
    display: grid;
 
}

.nameLayer{
    
    height: 20px;
    
    display: grid;
    grid-template-columns: 30px 30px 85fr 28px;
    background-color: black;
    
}

.volumeControlLayer {
    margin-top: -0px;
    padding-left: 2%;
    height: 32px;
    color: white;
    display: flex;
    background-color: black;
    
    
}
.handle {
    touch-action:none;
    background-color: black;
    color:white;
    text-align: center;
}

.indicator {
    font-size: 22px;


}