.knob {
    width: 60px;
    height: 60px;
    border-radius: 120%;
    background: none;
    outline: none;
    box-shadow: none;
    color: inherit;
    cursor: default;
    border-style: dotted
}

.knob:active{
    color: black;
}

.knob:hover{
    cursor:grab;
}

.arrow {
    margin-left: 90%;
    font-size:26px
}