@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

html {

  overscroll-behavior: none; 
}
html, body {
    overflow: hidden !important;
    position: fixed !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
 
  margin: 0vh;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
   -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
}

/* style for pattern buttons */
input[type="checkbox"] { 
   appearance: none;
  -webkit-appearance: none;
  border-style: solid;
	display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  background-clip: content-box;
  padding: 2px;
}

input[type="checkbox"]:checked {
background-color: black;
}

input[type="number"] {
  font-family: inherit;
  display: block;
  width: 60px;
  height: 40px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 18%;
  font-family: "Google Sans Code", monospace;
}

button:active{
  
  color: rgb(255, 255, 255);
}

button:focus{
  background-color: white;
}

button:hover{
  transition: font-size 0.1s;
  font-size: 10px;
}

button {
  width: auto;
  height: auto;
  font-family: inherit;
  background-color: white;
  border-style: solid;
  border-color: black
}

input[type="range"] {
  appearance: none;
  width: 200px; /* default */
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: white;
  box-sizing: border-box;
  border-style: solid;
  height: 14px;
  border-width: 2px;
  border-style: dotted;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border-style: solid;
  height: 14px;
  border-width: 2px;
  border-style: dotted;
  background-color: white;
}

input[type="range"]::-moz-range-thumb {
  border-style: solid;
  border-radius: 0;
  border-width: 2px;
  border-color:black;
  background-color: white;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-style: solid;
  border-radius: 0;
  border-width: 2px;
  border-color:black;
  background-color: white;
  margin-top: -4px
}