.menu {
   
    position:fixed;
    bottom: 0vh;
    top: 0vh;
    right: -1vh;
    width: 30vh;
    height: 90vh;
    
    border-style:solid;
    border-width: 0.1vh;
    
    padding: 1vh;
    font-size: 1.5vh;
    background-color: white;
    transition: margin-right 0.4s;
}

.addBlock {
    border-style: dotted;
    border-width: 0.3vh;
    height: 9vh;
    padding: 0.2vh;
    display: grid;
    grid-template-columns: 14vh 14vh;
    grid-template-rows: 4vh 4vh;
    gap: 1vh;
    margin-bottom: 0vh;
}

.openCloseButton{
    position: absolute;
    display: inline;
    display: flex;
    right: 32vh;
    top: 0vh;
    height: auto;
    width: 2vh;
    height: 10vh;
    padding: 0vh;
    writing-mode: vertical-rl;
    text-orientation: upright;
     font-size: 1.5vh;
     border-width: 0.1vh;
}
.hidenMenu {
    margin-right: -31vh;
    transition: margin-right 0.4s;
}

.BPMControl {
    display: flex;
  align-items: center;
    padding: 0.2vh;
    margin-top: 0vh;
    height: 5vh;
    width: 30vh;
    
  
}

input[type="range"].slider {
  appearance: none;
  width: 20vh; /* default */
  height: 4vh;
margin: 1vh;

}

input[type="range"].slider::-webkit-slider-runnable-track {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-style: solid;
  height: 2vh;
  border-width: 0.1vh;
  border-style: dotted;
}

input[type="range"].slider::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border-style: solid;
  height: 2vh;
  border-width: 0.1vh;
  border-style: dotted;
  background-color: white;
}

input[type="range"].slider::-moz-range-thumb {
  border-style: solid;
  border-radius: 0;
  height: 2.1vh;
  width: 2.1vh;
  border-width: 0.1vh;
  border-color:rgb(0, 0, 0);
  background-color: white;
}
input[type="range"].slider::-webkit-slider-thumb {
  appearance: none;
  height: 2.1vh;
  width: 2.1vh;
  border-style: solid;
  border-radius: 0;
  border-width: 0.1vh;
  border-color:rgb(0, 0, 0);
  background-color: white;
  margin-top: 0.01vh
}

.menuButton {
    border-width: 0.1vh;
    padding: 0vh;
    font-size: 1.5vh;
}

.canvas {
    margin-top: 0vh;
    width: 30vh;
    height: 15vh;
}

.masterBlock{
    border-style: dotted;
    border-width: 0.3vh;
}