.noiseGenerator {
    padding-top: 15px;
    padding-left: 27px;
    border-style: solid;
    width: 200px;
    height: 520px;
    background-color: white;
    
 
}
.ratioControls {
    display: flex;
    margin-left: 10px;
    gap: 10px;
    
}

.applyButton {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 145px;
    margin-left: 10px;
   
}

.knobs {
    
    margin-bottom: 10px;
}


.effectBlock {
    display: flex;
    gap: 18px;
    border-style: solid;
    border-width: 1px;
    width: 155px;
    text-align: center;
    padding-left: 10px;
   margin-bottom: 10px;
}
