.seqSynth {
    padding-left: 17px;
    border-style: solid;
    width: 520px;
    height: 290px;
    background-color: white;
    
 
}
.knobs {
 
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    gap: 4px
}

.control {
    display: inline-flex;
}
.effectBlock {
    display: flex;
    gap: 18px;
    border-style: solid;
    border-width: 1px;
    width: 155px;
    text-align: center;
    padding-left: 10px;
   
}
